.code_adr{
    margin: 10px;
    padding: 10px;
    border-left: 4px solid #005;
    background-color: #bbb
 }

.boite__modale{
    background-color: aqua;
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity 1s;
 } 

 .boite__modale__ouvrir{
     transform: scale(1);
     opacity: 1;
 }

 .boite__x{
    position: absolute;
     width: 4rem;
     height: 4rem;
     top: 10px;
     left: 10px;
 }