.code_adr{
    margin: 10px;
    padding: 10px;
    border-left: 4px solid #005;
    background-color: #bbb;
    
 }

.boite__modale{
    background-color: aqua;
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    transform: scale(0);
    opacity: 0;
    transition: transform 1s, opacity 1s;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
 } 

 .boite__modale__ouvrir{
     transform: scale(1);
     opacity: 1;
 }

 .boite__x{
    position: absolute;
     top: 10px;
     left: 10px;
 }

 .btn:hover{
     background-color: aqua;
 }